body {
  margin: 0;
  padding: 0;
  background-color: #162928;
  position: relative;
}
h1,
h2,
h3 {
  font-family: "Rubik", sans-serif;
}
p,
a,
span {
  font-family: "Nunito Sans", sans-serif;
}
.first-section {
  background: linear-gradient(180deg, #47bceb 35.23%, #daf4ff 95%, #162928);
  text-align: center;
  position: relative;
  /* min-height: 100vh; */
  padding-bottom: 100px;
  overflow: hidden;
}
.first-section p {
  font-size: 30px;
}
.logo {
  margin-top: 100px;
}
h1 {
  font-size: 60px;
}
#leave1 {
  position: absolute;
  left: 0;
  bottom: 0vh;
  width: 400px;
  overflow: hidden;
  display: none;
}
#leave2 {
  position: absolute;
  right: 0;
  bottom: 0vh;
  width: 400px;
  overflow: hidden;
  display: none;
}

.second-section {
  background-color: #162928;
  color: white;
  text-align: left;
}
h2 {
  font-size: 90px;
}
.second-section p {
  font-size: 30px;
}
.third-section {
  text-align: center;
  color: white;
}
.third-section h2 {
  text-align: left;
}
.galery-box {
  /* height: 200px; */
  width: 200px;
  background-color: white;
  display: inline-block;
}
.galery {
  overflow-x: scroll;
  white-space: nowrap;
}
#open-img {
  display: none;
  width: 50%;
  height: 50%;
  background-color: white;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
}
::-webkit-scrollbar {
  height: 5px;
  width: 10px;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.row {
  margin-left: 0;
  margin-right: 0;
}

li {
  display: inline-block;
}
.header {
  width: 100%;
  position: absolute;
  top: 0;
  right: auto;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  font-family: "Nunito Sans", sans-serif;
  /* background: linear-gradient(
    180deg,
    rgb(71, 188, 235),
    rgba(0, 0, 0, 0.3),
    rgb(71, 188, 235) 
  );*/
}
.logo-img {
  width: 200px;
}
.active {
  background-color: rgb(54, 54, 214, 0.5);
  padding: 6px 15px;
  border-radius: 15px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: rgb(177, 177, 177);
}
.footer-logo-img {
  width: 100px;
}
ul {
  margin: 0;
  padding: 0;
}
.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  background: white;
  z-index: 2000;
  display: none;
  padding-top: 50px;
  text-align: center;
}
.mobile-menu li {
  display: block;
  margin: 40px 2px;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
}
/*sm*/
@media (max-width: 575.98px) {
  .logo {
    width: 70%;
  }
  .logo-img {
    width: 50%;
  }
  h2 {
    font-size: 50px;
  }
  p,a{
    font-size: 15px;
  }
}
/* md */
@media (max-width: 767.98px) {
}
/* lg */
@media (max-width: 991.98px) {
}
/* xl */
@media (max-width: 1199.98px) {
}
/* xxl */
@media (max-width: 1399.98px) {
}
